<!--<app-grade></app-grade>-->
<!--<app-chapter-form></app-chapter-form>-->
<!--<app-services></app-services>-->
<!--<app-communication></app-communication>-->
<!--<app-pipes></app-pipes>-->
<nav>
  <a routerLink="" routerLinkActive="active">Page d'accueil</a>
  <a routerLink="forms" routerLinkActive="active">Les formulaires</a>
  <a routerLink="services" routerLinkActive="active">Les services</a>
  <a routerLink="communication" routerLinkActive="active">Les communications</a>
  <a routerLink="pipes" routerLinkActive="active">Les pipes</a>
</nav>

<router-outlet></router-outlet>
